
{%extends 'base.html' %}

{% block title %}Index {% endblock title %}
{% block body %} 
<div class="container-fluid my-4">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://source.unsplash.com/1600x600/?gym"class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            <h5> First slide </h5>
          </div>
        </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1600x600/?Fitness" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            <h5>Second slide</h5>
          </div>
        </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1600x600/?exercise" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            <h5> Third slide</h5>
          </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>




        <center>
        <h1>About Us</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1550s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p><a href="page.html" class="btn btn-info text-white">Read More</a></p>
      </div>
    </center>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonials -->

</main>
<!-- End -->


  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

{% endblock body %}
